button {
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	appearance: none
}

body,button,p,pre {
	margin: 0
}

h1,h2,h3 {
	margin: 0;
	font: inherit
}

ol,ul {
	padding: 0;
	margin: 0
}

li {
	list-style-type: none
}

a {
	color: inherit;
	text-decoration: none
}

button:focus {
	outline: 0;
}

.Icon {
	vertical-align: text-bottom;
	fill: currentColor
}

.Icon--grey {
	color: #8590a6
}

html[data-theme=dark] .Icon--grey {
	color: #606a80
}

.Icon--left {
	margin-right: 6px
}

.ZhihuLogo {
    fill: #0084ff;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	font-size: 15px;
	color: #1a1a1a;
	background: #f6f6f6;
	-webkit-tap-highlight-color: rgba(26,26,26,0);
    overflow: hidden;
}

html[data-theme=dark] body {
	color: #999;
	background: #000;
	-webkit-tap-highlight-color: rgba(153,153,153,0)
}

.Button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
}

.Button--link, .Button--plain {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.Button--blue {
    color: #0084ff;
    border-color: #0084ff;
}

.SignFlow-submitButton {
    width: 100%;
    margin-top: 30px;
    height: 36px;
}

.Button--primary.Button--blue {
    color: #fff;
    background-color: #0084ff;
}

.Button--primary.Button--blue:hover:not(:disabled) {
    border-color: #0077e6;
    background-color: #0077e6;
}

.SignFlowHomepage {
    background-image: url(/images/sign.png);
    background-repeat: no-repeat;
    background-color: #b8e5f8;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.SignFlowHomepage-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    min-height: 688px;
    height: calc(100% - 42px);
    box-sizing: border-box;
}

.Card {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-sizing: border-box;
}

.SignContainer-content {
    width: 432px;
    margin: 0 auto;
    text-align: center;
}

.SignFlowHomepage .Card {
    overflow: visible;
}

.SignFlowHeader {
    padding-top: 30px;
    padding-bottom: 5px;
}

.SignFlowHeader-slogen {
    margin-top: 15px;
    color: #0084ff;
    font-size: 22px;
}

.SignContainer-inner {
    position: relative;
}

.Login-content {
    padding: 0 40px 36px;
}

.SignFlow {
    overflow: hidden;
}

.SignFlow-account {
    margin-top: 16px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
}

.SignFlow-password {
    position: relative;
    margin-top: 12px;
}

.SignFlow-supportedCountriesSelectContainer {
    display: inline-block;
    float: left;
    min-width: 72px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

.SignFlowInput {
    position: relative;
}

.SignFlow-accountInputContainer {
    overflow: hidden;
}

.Input-wrapper {
    position: relative;
    display: flex;
    width: 180px;
    height: 34px;
    padding: 4px 10px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    box-sizing: border-box;
    transition: background .2s,border .2s;
}

.Input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
}

input.Input {
    color: #1a1a1a;
    height: 24px;
    line-height: 24px;
}

.SignFlowInput .Input-wrapper {
    width: 100%;
    height: 48px;
    padding: 0;
    color: #8590a6;
}

.SignContainer-content .Input-wrapper {
    width: 100%;
    height: 48px;
    padding: 0;
    color: #8590a6;
    border: none;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
}

.SignFlow .SignFlow-accountInput, .SignFlow .SignFlow-smsInput {
    width: auto;
}

.SignContainer-content .SignFlow-accountInput.Input-wrapper, .SignContainer-content .SignFlow-accountInput.Input-wrapper.is-focus {
    border: none;
}

.SignFlowInput input.Input {
    height: 48px;
}

.SignFlowInput-errorMask {
    position: absolute;
    right: 0;
    height: 90%;
    padding: 12px 0 0 20px;
    margin-top: -47px;
    font-size: 14px;
    color: #f1403c;
    text-align: right;
    cursor: text;
    background: #fff;
    opacity: 1;
    box-sizing: border-box;
    transition: opacity .25s ease;
}

.SignFlowInput-errorMask--hidden {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.SignFlowInput-requiredErrorMask {
    right: auto!important;
    width: 100%;
    padding-left: 0;
    text-align: left;
}

.SignFlowInput-errorMask::before {
    position: absolute;
    top: 0;
    left: -16px;
    width: 16px;
    height: 46px;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff);
    content: "";
}

.SignFlowInput-requiredErrorMask:before {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.SignFlow-switchPassword {
    position: absolute;
    top: 24px;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #8590a6;
}

.Login-options {
    margin-top: 12px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #fff;
}

.SignContainer-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f6f6f6;
    height: 58px;
    border-top: 1px solid #ebebeb;
    font-size: 16px;
}

.SignContainer-switch a {
    color: #175199;
}

.PushNotifications-menu {
    width: 360px;
    padding: 0;
    overflow: hidden;
}
.PushNotifications-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #ebebeb
}

html[data-theme=dark] .PushNotifications-header {
	border-bottom: 1px solid #444
}

.PushNotifications-tab {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 48px;
	cursor: pointer;
	box-shadow: none!important;
    &.is_active svg{
        fill: #0084ff
    }
}

html[data-theme=dark] .PushNotifications-selectedTabIcon {
	fill: #3a76d0
}

.PushNotifications-tab:not(:last-child):after {
	position: absolute;
	left: 120px;
	width: 1px;
	height: 20px;
	margin: auto;
	background: #ebebeb;
	content: ""
}

html[data-theme=dark] .PushNotifications-tab:not(:last-child):after {
	background: #444
}

.PushNotifications-list {
	height: 350px;
	overflow-x: hidden;
	overflow-y: auto
}

.PushNotifications-item {
	position: relative;
	padding: 15px;
	font-size: 14px;
	line-height: 24px;
	color: #1a1a1a
}

html[data-theme=dark] .PushNotifications-item {
	color: #999
}

.PushNotifications-item a {
	color: #175199
}

.PushNotifications-item a:hover,html[data-theme=dark] .PushNotifications-item a:hover {
	color: #144785
}

html[data-theme=dark] .PushNotifications-item a {
	color: #175199
}

.PushNotifications-item:after {
	position: absolute;
	right: 0;
	bottom: 100%;
	left: 0;
	height: 1px;
	padding: 0 16px;
	background-color: #ebebeb;
	content: "";
	background-clip: content-box
}

html[data-theme=dark] .PushNotifications-item:after {
	background-color: #444
}

.PushNotifications-newItem {
	background: #f6f6f6
}

html[data-theme=dark] .PushNotifications-newItem {
	background: #2e2e2e
}

.PushNotifications-followTitle {
	position: relative;
	height: 54px;
	font-size: 14px;
	line-height: 54px;
	color: #8590a6;
	text-align: center
}

html[data-theme=dark] .PushNotifications-followTitle {
	color: #606a80
}

.PushNotifications-followTitle:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 16px;
	border-bottom: 1px solid #ebebeb;
	content: ""
}

html[data-theme=dark] .PushNotifications-followTitle:after {
	border-bottom: 1px solid #444
}

.PushNotifications-followItem {
	display: block
}

.PushNotifications-followItem:hover {
	background-color: #f6f6f6
}

html[data-theme=dark] .PushNotifications-followItem:hover {
	background-color: #2e2e2e
}

.PushNotifications-followItem .AuthorInfo-name {
	font-family: inherit
}

.PushNotifications-followItem .AuthorInfo-badge {
	color: #8590a6
}

html[data-theme=dark] .PushNotifications-followItem .AuthorInfo-badge {
	color: #606a80
}

.PushNotifications-followItem:after {
	content: none
}

.PushNotifications-followItem a {
	color: #1a1a1a
}

html[data-theme=dark] .PushNotifications-followItem a {
	color: #999
}

.Notifications-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	padding: 0 16px;
	line-height: 40px;
	background: #fff;
	border-top: 1px solid #ebebeb;
	box-sizing: border-box
}

html[data-theme=dark] .Notifications-footer {
	background: #1a1a1a;
	border-top: 1px solid #444
}

.PushNotifications-redbot {
	position: absolute;
	top: 50%;
	width: 4px;
	height: 4px;
	margin-left: 8px;
	background-color: #f1403c;
	border-radius: 50%;
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px)
}

html[data-theme=dark] .PushNotifications-redbot {
	background-color: #b7302d
}

.PushNotifications-count {
	position: absolute;
	bottom: 50%;
	left: 50%;
	padding: 0 4px;
	font-size: 11px;
	color: #fff;
	background-color: #f1403c;
	border: 2px solid #fff;
	border-radius: 20px
}

html[data-theme=dark] .PushNotifications-count {
	color: #ebebeb;
	background-color: #b7302d;
	border: 2px solid #1a1a1a
}

.PushNotifications-actor:not(:last-child):after {
	content: "\3001";
	color: #0084ff
}

html[data-theme=dark] .PushNotifications-actor:not(:last-child):after {
	color: #3a76d0
}

.Notification {
	position: fixed;
	top: 75px;
	left: 50%;
	z-index: 499;
	padding: 14px 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	font-size: 14px;
	color: #1a1a1a;
	pointer-events: all;
	border-radius: 4px;
	box-shadow: 0 5px 20px rgba(26,26,26,.1);
	box-sizing: border-box
}

html[data-theme=dark] .Notification {
	box-shadow: 0 1px 3px rgba(0,0,0,.3)
}

@media (max-width:768px) {
	.Notification {
		width: calc(100vw - 2 * 16px)
	}
}

@media (min-width:769px) {
	.Notification {
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		max-width: 600px;
		min-width: 520px
	}
}

html[data-theme=dark] .Notification {
	color: #999
}

.Notification-textSection {
	width: 100%;
	display: inline-block
}

@media (max-width:768px) {
	.Notification-textSection {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis
	}
}

.Notification-textSection--withButton {
	text-align: left
}

.Notification-textSection--withoutButton {
	text-align: center
}

.Notification-actionsSection {
	white-space: nowrap;
	height: 100%;
	margin: auto 0 auto 32px
}

.Notification-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 503;
	overflow: hidden;
	pointer-events: none
}

.Notification-white {
	color: #1a1a1a;
	background: #fff
}

html[data-theme=dark] .Notification-white {
	color: #999;
	background: #1a1a1a
}

.Notification-red {
	color: #fff;
	background: #f1403c
}

.Notification-green {
	color: #fff;
	background: #27ae60;
}

html[data-theme=dark] .Notification-red {
	color: #1a1a1a;
	background: #b7302d
}

.Notification-red-ghost {
	color: #f1403c;
	background: #fff
}

html[data-theme=dark] .Notification-red-ghost {
	color: #b7302d;
	background: #1a1a1a
}

@-webkit-keyframes spring-in {
	0% {
		-webkit-transform: translate(-50%,-20px);
		transform: translate(-50%,-20px);
		opacity: .01
	}

	to {
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		opacity: 1
	}
}

@keyframes spring-in {
	0% {
		-webkit-transform: translate(-50%,-20px);
		transform: translate(-50%,-20px);
		opacity: .01
	}

	to {
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		opacity: 1
	}
}

@-webkit-keyframes spring-out {
	0% {
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		opacity: 1
	}

	to {
		-webkit-transform: translate(-50%,-20px);
		transform: translate(-50%,-20px);
		opacity: 0
	}
}

@keyframes spring-out {
	0% {
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		opacity: 1
	}

	to {
		-webkit-transform: translate(-50%,-20px);
		transform: translate(-50%,-20px);
		opacity: 0
	}
}

.Notification-enter {
	-webkit-animation: spring-in .3s;
	animation: spring-in .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.Notification-leave {
	-webkit-animation: spring-out .3s;
	animation: spring-out .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.Notifications-container {
    position: fixed;
    top: 75px;
    left: 50%;
    display: flex;
    transform: translate(-50%);
    flex-wrap: wrap;
    transition: all ease .5s;
}

.Notification {
    position: relative;
    top: 0;
    margin-bottom: 20px;
    transition: all ease .5s;
}
