.Pagination {
	padding: 16px 20px;
	text-align: center;
	margin: 0 auto
}

.PaginationButton {
	color: #1a1a1a;
	transition: color .2s;
	padding: 0 15px
}

.PaginationButton:not(:disabled):hover,html[data-theme=dark] .PaginationButton:not(:disabled):hover {
	color: #175199
}

html[data-theme=dark] .PaginationButton {
	color: #999
}

.PaginationButton--current {
	color: #8590a6
}

html[data-theme=dark] .PaginationButton--current {
	color: #606a80
}
