.Popover {
    position: relative;
    display: inline-block
}

.Popover-arrow {
    position: absolute
}

.Popover-arrow,
.Popover-arrow:after {
    border: 8px solid transparent;
    display: block;
    width: 0;
    height: 0
}

.Popover-arrow:after {
    position: absolute;
    left: 0;
    top: 0;
    content: ""
}

.Popover-arrow--top {
    border-top-color: #ebebeb;
    margin-top: 7px
}

.Popover-arrow--top,
.Popover-arrow--top:after {
    border-bottom-width: 0;
    -webkit-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100%, 0)
}

.Popover-arrow--top:after {
    margin-top: -1px;
    border-top-color: #fff
}

html[data-theme=dark] .Popover-arrow--top:after {
    border-top-color: #1a1a1a
}

html[data-theme=dark] .Popover-arrow--top {
    border-top-color: #2e2e2e
}

.Popover-arrow--bottom {
    border-bottom-color: #ebebeb;
    margin-top: -8px
}

.Popover-arrow--bottom,
.Popover-arrow--bottom:after {
    border-top-width: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.Popover-arrow--bottom:after {
    margin-top: 1px;
    border-bottom-color: #fff
}

html[data-theme=dark] .Popover-arrow--bottom:after {
    border-bottom-color: #1a1a1a
}

html[data-theme=dark] .Popover-arrow--bottom {
    border-bottom-color: #2e2e2e
}

.Popover-arrow--left {
    border-left-color: #ebebeb;
    margin-left: 7px
}

.Popover-arrow--left,
.Popover-arrow--left:after {
    border-right-width: 0;
    -webkit-transform: translate3d(-100%, -50%, 0);
    transform: translate3d(-100%, -50%, 0)
}

.Popover-arrow--left:after {
    margin-left: -1px;
    border-left-color: #fff
}

html[data-theme=dark] .Popover-arrow--left:after {
    border-left-color: #1a1a1a
}

html[data-theme=dark] .Popover-arrow--left {
    border-left-color: #2e2e2e
}

.Popover-arrow--right {
    border-right-color: #ebebeb;
    margin-left: -8px
}

.Popover-arrow--right,
.Popover-arrow--right:after {
    border-left-width: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.Popover-arrow--right:after {
    margin-left: 1px;
    border-right-color: #fff
}

html[data-theme=dark] .Popover-arrow--right:after {
    border-right-color: #1a1a1a
}

html[data-theme=dark] .Popover-arrow--right {
    border-right-color: #2e2e2e
}

.Popover-content {
    position: absolute;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(26, 26, 26, .1);
    z-index: 203
}

html[data-theme=dark] .Popover-content {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3)
}

.Popover-content-enter {
    opacity: .01
}

.Popover-content-enter-active {
    transition: opacity .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, opacity .2s ease-out;
    transition: transform .2s ease-out, opacity .2s ease-out, -webkit-transform .2s ease-out
}

.Popover-content-enter-active,
.Popover-content-leave {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.Popover-content-leave-active {
    opacity: .01;
    transition: opacity .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, opacity .2s ease-out;
    transition: transform .2s ease-out, opacity .2s ease-out, -webkit-transform .2s ease-out
}

.Popover-content--fixed {
    position: fixed
}

html[data-theme=dark] .Popover-content {
    background: #1a1a1a;
    border: 1px solid #2e2e2e
}

.Popover-content--top {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    margin-top: -8px
}

.Popover-content--top.Popover-content--arrowed {
    margin-top: -16px
}

.Popover-content--top.Popover-content--enter,
.Popover-content--top.Popover-content-leave-active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px)
}

.Popover-content--bottom {
    margin-top: 8px
}

.Popover-content--bottom.Popover-content--arrowed {
    margin-top: 16px
}

.Popover-content--bottom.Popover-content--enter,
.Popover-content--bottom.Popover-content-leave-active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
}

.Popover-content--left {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    margin-left: -8px
}

.Popover-content--left.Popover-content--arrowed {
    margin-left: -16px
}

.Popover-content--left.Popover-content--enter,
.Popover-content--left.Popover-content-leave-active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px)
}

.Popover-content--right {
    margin-left: 8px
}

.Popover-content--right.Popover-content--arrowed {
    margin-left: 16px
}

.Popover-content--right.Popover-content--enter,
.Popover-content--right.Popover-content-leave-active {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px)
}

.AttentionPopover {
    font-size: 15px;
    background-color: #0084ff;
    color: #fff;
    padding: 9px 14px;
    border-radius: 8px;
    border: none
}

.AttentionPopover .Popover-arrow {
    border: none
}

.AttentionPopover .Popover-arrow--top:after {
    border-top-color: #0084ff
}

html[data-theme=dark] .AttentionPopover .Popover-arrow--top:after {
    border-top-color: #3a76d0
}

.AttentionPopover .Popover-arrow--bottom:after {
    border-bottom-color: #0084ff
}

html[data-theme=dark] .AttentionPopover .Popover-arrow--bottom:after {
    border-bottom-color: #3a76d0
}

.AttentionPopover .Popover-arrow--left:after {
    border-left-color: #0084ff
}

html[data-theme=dark] .AttentionPopover .Popover-arrow--left:after {
    border-left-color: #3a76d0
}

.AttentionPopover .Popover-arrow--right:after {
    border-right-color: #0084ff
}

html[data-theme=dark] .AttentionPopover .Popover-arrow--right:after {
    border-right-color: #3a76d0
}

html[data-theme=dark] .AttentionPopover {
    background-color: #3a76d0
}
.el-popover {
    padding: 0 !important;
    box-shadow: 0 5px 20px rgba(26,26,26,.1) !important;
    background: #fff !important;
    border: 1px solid #ebebeb !important;
}
